
<%= form_for @shop, :html => { class: "form-horizontal shop col-lg-7",  id: 'shop_form' }, 
  validate: true do |f| %>

  <% if @shop.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @shop.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>

  <div class="form-group">
    <%= f.label 'Lat/Long', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :lat, :class => 'form-control', id: 'us2-lat', readonly: true %>
    </div>

    <div class="col-lg-4">
      <%= f.text_field :long, :class => 'form-control', id: 'us2-lon', readonly: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address, :class => 'form-control', id: 'us2-address' %>
    </div>
    <%=f.error_span(:address) %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone_number) %>
  </div>

  <div class="form-group">
    <%= f.label :photo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :photo_file, id: 'file_field', accept: 'image/png,image/jpeg' %>
      <%= f.hidden_field :main_photo_url, id: 'hidden_photo_field' %>
    </div>
    <%=f.error_span(:photo) %>
  </div>

  <div class="form-group">
    <%= f.label :category_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:category_id, Category.all, :id, :name, {:selected => f.object.category_id}, {:class=>'form-control'}) %>

    </div>
    <%=f.error_span(:category_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary', id: 'submit_button' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                shops_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<div id="somecomponent" style="height: 400px;"></div>



<style>
     
      #map {
        height: 400px;
        width: 100%;
      }
     p {margin-top: 20px;}
     table, tr,th, td {
      text-align:center;
      vertical-align: middle;
    }
    </style>

<script>
  $('#somecomponent').locationpicker({
        location: {
            latitude: 46.15242437752303,
            longitude: 2.7470703125
        },
        radius: 50,
        inputBinding: {
            latitudeInput: $('#us2-lat'),
            longitudeInput: $('#us2-lon'),
            locationNameInput: $('#us2-address')
        },
        enableAutocomplete: true
    });

  var config = {
      apiKey: "AIzaSyBiH5nQyb9vwCR9OL0f8ugGajNZHJh90nk",
      authDomain: "waritex-promotions-firebase.firebaseapp.com",
      databaseURL: "https://waritex-promotions-firebase.firebaseio.com",
      projectId: "waritex-promotions-firebase",
      storageBucket: "waritex-promotions-firebase.appspot.com",
      messagingSenderId: "786576419400"
  };
  
  if (!firebase.apps.length) {
    firebase.initializeApp(config);
  }

  $('#submit_button').click(function(e){
    e.preventDefault();

    var form = $('#shop_form');
    var hiddenField = $('#hidden_photo_field');
    var fileField = $('#file_field');
    
    // find all fields of the validated form
    $('*[data-validate="true"]').blur();
    

    if(form.isValid(ClientSideValidations.validators)){
      var files = fileField.prop('files');

      if(files.length > 0){
        var file = fileField.prop('files')[0];

        var storageRef = firebase.storage().ref();
        var fileRef = storageRef.child('shops/' + file.name);
        var uploadTask = fileRef.put(file)
        showPleaseWait();

        uploadTask.on('state_changed', 
          null,
          function error(error) {
            hidePleaseWait();
            alert('Error occured while uploading files')
          },
          function complete() {
            hidePleaseWait();
            var downloadURL = uploadTask.snapshot.downloadURL;
            hiddenField.val(downloadURL);
            form.submit();
          });
        
      } else {
        if(hiddenField.val()) {
         form.submit();
        } else {
         alert("Please select photo file");
        }
      }

    }

  });


</script>