<div class="form-group">

	<div class="col-lg-2 control-label bg-info">
		<%= f.object.day_name%>
		<%= f.hidden_field :day_name %>
	</div>

	<div class="col-lg-2">
	  <%= f.select :state, [:opened, :closed], {}, {class: 'form-control'} %>
	</div>

	<%= f.label :opened_at, :class => 'control-label col-lg-2' %>
	<div class="col-lg-2">
	  <%= f.time_select :opened_at, {ampm: true, minute_step: 30}, {class: 'form-control width-auto'}%>
	</div>

	<%= f.label :closed_at, :class => 'control-label col-lg-2' %>
	<div class="col-lg-2">
	  <%= f.time_select :closed_at, {ampm: true, minute_step: 30}, {class: 'form-control width-auto'} %>
	</div>
</div>